.Items {
    width: 100%;
    padding: 0 var(--main-padding);
    display: flex;
    gap: 20px;
}

.Items .Item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Items .Item img {
    width: 100%;
    background: #FFFDFC;
    border: 1px solid #F1ECE2;
    margin-bottom: 4px;
    object-fit: contain;
}

.Items .Item h6,
.Items .Item p {
    font-weight: var(--main-font-weight);
    line-height: 18px;
    color: var(--main-color);
    font-size: var(--xxsmall-font-size);
}

.Items .Item p {
    font-size: var(--xxxsmall-font-size);
}

@media screen and (max-width:768px) {
    .Items {
        flex-direction: column;
    }
    .Items .Item img{
        height: 200px;
    }
}